body {
    background-color: #e6ecf0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    margin-bottom: 1rem;
}

/* Nav */
.navbar a {
    font-weight: bold;
    color: white;
    padding: 10px
}

.navbar a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.navbar-brand > img {
    display: inline-block;
    width: 20px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 2px;
}

ul.nav .navbar-nav li {
    margin: 0 0.5rem;
}

.onboarding > .navbar {
    background-image: url("assets/images/nav-bg.png");
}

.home-hero {
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/images/signed-out-home.jpg");
    z-index: -1;
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    text-shadow: 0 0 8px #66757f;
}

#messages .list-group-item {
    display: flex;
    align-items: flex-start;
    padding: 7px 20px 12px;
    border-radius: 5px;
}

#messages:not(.no-hover) .list-group-item:hover {
    background-color: #e6ecf0;
}

.timeline-img {
    border-radius: 50px;
    height: 48px;
    width: 48px;
    margin: 2px 30px 10px 10px;
}

.btn:hover {
    cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
    color: white;
}

.navbar-header {
    margin: 0 auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
